/* Ensure we always have good fonts */
@import url("https://fonts.googleapis.com/css2?family=Saira&family=Saira+Condensed&display=swap");

/* Set some colors */
:root {
	--light-blue: #B3E0F2;
	--blue: #007BBD;
	--dark-blue: #204C6D;
	--darker-blue: #302C5D;
	--red: #9E3C2F;
}

body {
	/* Set the default font */
	font-family: "Saira Condensed";

	/* Remove the margin on the sides of the screen */
	margin: 0;
}

body > div {
	/* Take up exactly half the screen */
	width: 50%;
	height: 100%;
	position: absolute;

	/* Center all children */
	display: flex;
	align-items: center;
}

#left {
	/* Center all elements on the left side of the screen */
	justify-content: center;
}

#right {
	/* Take up the right side of the screen */
	right: 0;

	/* Stack all elements on the right of the screen */
	flex-direction: column;
}

#board-border {
	/* Make the board border take up the same space as the board, +32px so that we can have a
	 * visible gap between the board and its border
	 */
	width: calc(70% + 32px);
	padding-top: calc(70% + 32px);
	position: relative;

	border: 8px solid black;
}

#board-container {
	/* Take up the full space of the board border besides a padding of 32px */
	width: calc(100% - 32px);
	padding-top: calc(100% - 32px);

	/* Center the board within the border */
	top: 16px;
	left: 16px;
	position: absolute;
}

#board-container > * {
	/* Set the initial positions of all the elements within the board container to the upper left
	 * corner
	 */
	position: absolute;
	top: 0;
	left: 0;
}

#board {
	/* Make the board take up the full space of the container */
	height: 100%;
	width: 100%;
}

.piece {
	/* The board is 10x10, so each piece should take up 10% of the container */
	width: 10%;
	height: 10%;
}

#vertical-rule {
	/* Place the vertical rule somewhere between the left and right sections of the screen
	 * but slightly to the right
	 */
	width: 6px;
	height: 80%;
	position: absolute;
	left: calc(57%);

	/* Give it a color */
	background-color: var(--light-blue);

	/* Vertically center the vertical rule */
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#history-title {
	font-size: 4em;
	margin-top: 10%;
	margin-bottom: 5%;
}

#history {
	/* Connect the borders of the cells */
	border-collapse: collapse;
}

#history tr td {
	/* Align the text in the center and make everything readable */
	text-align: center;
	height: 40px;
	width: 80px;
	font-size: 1.5em;
}

.turn-no {
	/* Add a light-blue border between the turn number and the moves */
	border-right: 3px solid var(--light-blue);
}

#resign {
	/* Make the resign button nice and big */
	margin-top: 5%;
	background-color: var(--dark-blue);
	text-align: center;
	width: 30%;
}

#resign:hover {
	/* Make the resign button darker and add an outline when you hover over it */
	border: 3px grey solid;
	background-color: var(--darker-blue);
}

#resign p {
	/* Make the resign text look nice */
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	color: white;
}

#blue-bar, #red-bar {
	/* Add bars above the table to signify which player each column corresponds to */
	height: 8px;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}

#blue-bar {
	background-color: var(--blue);
}

#red-bar {
	background-color: var(--red);
}

#delta-table {
	/* Make the table tall and wide enough, and give it some spacing from the board */
	height: 10%;
	width: 15%;
	margin-right: 2%;

	/* Give it a nice border */
	border: 4px black solid;
}

#delta-table tr {
	/* Vertically align the text with the pieces */
	vertical-align: top;
}

#delta-table td {
	/* Ensure the cells take up half of the table each */
	width: 50%;
}

.delta-text {
	/* Make the text readable */
	text-align: center;
	font-size: 2em;
}

.delta-img {
	/* Make the pieces slightly transparent, and make them take up the full space of the
	 * container
	 */
	opacity: 0.7;
	height: 100%;
}

.position:hover {
	cursor: click;
	background-color: grey;
}
