@import "style.css";
@import url("https://fonts.googleapis.com/css2?family=Saira&family=Saira+Condensed&display=swap");

body {
	/* Set the default font */
	font-family: "Saira Condensed";
    background-color: var(--dark-blue);
	color: white;
	/* Remove the margin on the sides of the screen */
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, calc(100% / 3));
	grid-template-areas:
	"header header how-to-1 church"
	"stats stats how-to-2 raadhuis"
	"players button how-to-3 windmill";
}

.header {
	grid-area: header;
	justify-self: left;
	margin-left:10%;
}

.stats {
	grid-area: stats;
	justify-self: left;
	margin-left:10%;
	margin-top: 2%;
}

.icon {
	grid-area: players;
}

.button {
	grid-area: button;
}

.how-to-1 {
	grid-area: how-to-1;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

.how-to-2 {
	grid-area: how-to-2;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

.how-to-3 {
	grid-area: how-to-3;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

.church {
	grid-area: church;
}

.raadhuis {
	grid-area: raadhuis;
}

.windmill {
	grid-area: windmill;
}

.icon > img {
	margin-left: 15%;
	height: 75%;
	width: 90%;
}

h1 {
	justify-content: start;
  	font-family: Saira;
	font-size: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
	font-family: inherit;
  	font-size: 30px;
	font-weight: normal;
	font-style: normal;
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1::after{
	display: block;
    content: "";
	align-content: left;
    border-top: .4rem solid white;
    width: 13rem;
    margin: 0 0.7rem;
    transform: translateY(-2rem);
}

body > div {
	width: 95%;
	height: 90vh;
	margin-top:8vh;
	position: absolute;
}

div > p {
	font-size:24px;
	margin: 0;
}

div > img {
	object-fit: contain;
  	width: 100%;
 	max-height: 100%;
 	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
	  opacity: 1;
	}
 }

#button {
	background-color: var(--light-blue);
	color: inherit;
	font-size: calc(50% + 2vw);
	border: none;
	animation: fadeIn 1s linear;
	padding: 5%;
	margin-left: 25%;
	margin-top: 10%;
	cursor: pointer;
	text-shadow: 2px 2px #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#button:active {
	font-weight: bold;
}

#button:hover {
	cursor: pointer;
	background-color: var(--darker-blue)
}

.how-to-1 > img {
	justify-self: center;
	width: fit-content;
	height: 75%;
}

.how-to-1 > h2::before {
	content: "1 - ";
	font-weight: lighter;
}

.how-to-2 > img {
	justify-self: center;
	height: 85%;
}

.how-to-2 > h2::before {
	content: "2 - ";
	font-weight: lighter;
}

.how-to-3> img {
	justify-self: center;
	height: 45%;
	opacity: 0.8;
}

.how-to-3 > h2::before {
	content: "3 - ";
	font-weight: lighter;
}


