@import "style.css";
@import url("https://fonts.googleapis.com/css2?family=Saira&family=Saira+Condensed&display=swap");

body {
	/* Set the default font */
	font-family: "Saira Condensed";
    background-color: var(--dark-blue);
	color: white;
	/* Remove the margin on the sides of the screen */
	margin: 0;
}

/* Resizes body to fit the viewport and ensures position is absolute*/
body > div {
	width: 95%;
	height: 90vh;
	margin-top:8vh;
	position: absolute;
}

/* Adjusts standard rendering of our images. Adds drop shadow and ensures it fits the container*/
div > img {
	object-fit: contain;
  	width: 100%;
 	max-height: 100%;
 	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* set the container class to a 4x3 grid with named areas*/
.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, calc(100% / 3));
	grid-template-areas:
	"header header how-to-1 church"
	"stats stats how-to-2 raadhuis"
	"players button how-to-3 windmill";
}

/* Sets the header class to the header grid-area.*/
.header {
	grid-area: header;
	justify-self: left;
	margin-left:10%;
}

/* Formats the title according to our wireframe*/
h1 {
	justify-content: start;
  	font-family: Saira;
	font-size: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Adds line under title*/
h1::after{
	display: block;
    content: "";
	align-content: left;
    border-top: .4rem solid white;
    width: 13rem;
    margin: 0 0.7rem;
    transform: translateY(-2rem);
}

/* Sets the stats class to the stats grid-area. */
.stats {
	grid-area: stats;
	justify-self: left;
	margin-left:10%;
	margin-top: 2%;
}

/* Overrides font-size for paragraphs (particularly those that contain the stats) */
div > p {
	font-size:24px;
	margin: 0;
}

/* Sets the icon class to the icon area */
.icon {
	grid-area: players;
}

/* Alligns the icon image within the icon div*/
.icon > img {
	margin-left: 15%;
	height: 75%;
	width: 90%;
}

/* Sets button class to button grid area*/
.button {
	grid-area: button;
}

/* Play button fade in animation*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
	  opacity: 1;
	}
 }

/* Formats our button using the button element id selector*/
#button {
	background-color: var(--light-blue);
	color: inherit;
	font-size: calc(50% + 2vw);
	border: none;
	animation: fadeIn 1s linear;
	padding: 5%;
	margin-left: 25%;
	margin-top: 10%;
	cursor: pointer;
	text-shadow: 2px 2px #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* change text to bold when clicked*/
#button:active {
	font-weight: bold;
}

/* changes background color of play button when hovered*/
#button:hover {
	cursor: pointer;
	background-color: var(--darker-blue)
}

/* configures the standard setting for our how-to section headers*/
h2 {
	font-family: inherit;
  	font-size: 30px;
	font-weight: normal;
	font-style: normal;
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Sets the how-to class to the grid area */
.how-to-1 {
	grid-area: how-to-1;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

/* Adds labeling and formattnig for the header*/
.how-to-1 > h2::before {
	content: "1 - ";
	display: list-item-inline;
	font-weight: lighter;
}

/* some specific adjustments for each image within the how-to section to ensure proper allignment*/
.how-to-1 > img {
	justify-self: center;
	width: fit-content;
	height: 75%;
}

/* Sets the how-to class to the grid area */
.how-to-2 {
	grid-area: how-to-2;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

/* Adds labeling and formattnig for the header*/
.how-to-2 > h2::before {
	content: "2 - ";
	display: list-item-inline;
	font-weight: lighter;
}

/* some specific adjustments for each image within the how-to section to ensure proper allignment*/
.how-to-2 > img {
	justify-self: center;
	height: 85%;
}

/* Sets the how-to class to the grid area */
.how-to-3 {
	grid-area: how-to-3;
	display: grid;
	justify-content:left;
	margin-left: 20%;
}

/* some specific adjustments for each image within the how-to section to ensure proper allignment*/
.how-to-3> img {
	justify-self: center;
	height: 45%;
	opacity: 0.8;
}

/* Adds labeling and formattnig for the header*/
.how-to-3 > h2::before {
	display: list-item-inline;
	content: "3 - ";
	font-weight: lighter;
}

/* Sets church class to church grid area*/
.church {
	grid-area: church;
}

/* Sets raadhuis class to raadhuis grid area*/
.raadhuis {
	grid-area: raadhuis;
}

/* Sets windmill class to windmill grid area*/
.windmill {
	grid-area: windmill;
}